* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-primary);
    color: var(--text-normal);
}

.App {
    padding: 20px 25px;
}

#buttons > button {
    margin-right: 4px;
}